<div class="topic">
	<div class="topic-name"><h1><%= link_to topic.name, topic_path(topic) %></h1></div>
	<div class="topic-starter">Started by: <%= link_to topic.user.displayusername, user_path(topic.user) %></div>
</div>
