// Place all the styles related to the Forum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
  font-size: 10px;
  margin:10px;
  background-color:#EEE;
  border: solid 1px #999;
  padding: 10px;
  overflow:auto;
  h1
  {
    text-align: center;
  }
}

nav
{
  ul
  {
    float:right;
    font-size:1.5em;
    font-weight:bold;
    a:link {color:#43486D;text-decoration:none;}
    a:visited {color:#43486D;text-decoration:none;}
    margin: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

header
{
  h1
  {
    text-align: left;
    font-size:1.8em;
    margin:0px;
  }
  .logo
  {
    a:link {color:#43486D;text-decoration:none;}
    a:visited {color:#43486D;text-decoration:none;}
  }
}

.container
{
  overflow:hidden;
}

.alert
{
  font-size:1.2em;
  border: solid 1px;
  text-align:center;
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.generic-form
{
  width:50%;
  margin:0 auto;
}



input[type="text"], input[type="password"], textarea, select, .uneditable-input
{
    border: 1px solid #bbb;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    display:block;
}
.check
{
  display:block;
  height: auto;
} 

.overflow-hidden
{
  overflow:hidden;
}

.clear_both
{
  clear:both;
}

.subforum
{
  margin:10px;
  border: solid 1px #999;
  padding: 10px;
  .subforum-name
  {
    h1
    {
      text-align: left;
      font-size:1.8em;
      margin:0px;
      text-align:left;
      a:link 
      {
        color:#43486D;
        text-decoration:none;
      }
      a:visited 
      {
        color:#43486D;
        text-decoration:none;
      }
      
    }
  }
}

.forum
{
  margin:10px;
  border: solid 1px #999;
  padding: 10px;
  .forum-name
  {
    h1
    {
      text-align: left;
      font-size:1.8em;
      margin:0px;
      text-align:left;
      a:link 
      {
        color:#43486D;
        text-decoration:none;
      }
      a:visited 
      {
        color:#43486D;
        text-decoration:none;
      }
      
    }
  }
}




