// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts
{
  border: solid 1px #999;
  margin: 10px;
}


.post
{
  border-bottom: solid 1px #999;
  overflow:auto;
  margin:10px;
  .user-box
  {
    padding:20px;
    .username
    {
      a:link {color:#43486D;text-decoration:none;}
      a:visited {color:#43486D;text-decoration:none;}
    }
  }
  .post-box
  {
    border-left: solid 1px #999;
    padding:20px;
    
    width:100%;
  }
}