// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts
{
  /*border: solid 1px #999;*/
  margin: 10px;
}



.post
{
  border: solid 1px #999;
  margin:10px;
  .data
  {
    .user-box
    {
      float:left;
      padding:20px;
      width:150px;
      .username
      {
        a:link {color:#43486D;text-decoration:none;}
        a:visited {color:#43486D;text-decoration:none;}
      }
      
    }
    .post-box
    {
      padding:20px;
      overflow:hidden;
      border-left: solid 1px #999;
    }
  }
  .top-bar
  {
    padding:5px;
    .date
    {
      float:left;
    }
    .controls
    {
      overflow:hidden;
      text-align:right;
      .control
      {
        float: right;
        margin-left:5px;
        a:visited 
        {
          color:#00E;
        }
      }
    }
    
      border-bottom: solid 1px #999;
  }
  
}