// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topic
{
  margin:10px;
  border: solid 1px #999;
  padding: 10px;
  .name
  {
    float:left;
    font-weight:bold;
    font-size:1.5em;
    margin:0px;
    text-align:left;
    a:link 
    {
      color:#43486D;
      text-decoration:none;
    }
    a:visited 
    {
      color:#43486D;
      text-decoration:none;
    }
  }
  .starter
  {
    float:right;
    font-size:1.2em;
    margin:0px;
    a:link 
    {
      color:#43486D;
      text-decoration:none;
    }
    a:visited 
    {
      color:#43486D;
      text-decoration:none;
    }
  }
  .date
  {
    float:right;
    font-size:1.2em;
    margin:0px;
    clear:right;
  }
  
}

.topic-toolbar
{
  overflow:auto;
  margin:10px;
  border: solid 1px #999;
  padding: 10px;
  .topic-data
  {
    float:left;
    .topic-forum
    {
      a:link 
      {
        color:#43486D;
        text-decoration:none;
      }
      a:visited 
      {
        color:#43486D;
        text-decoration:none;
      }
    }
  }
  .topic-commands
  {
    float:right;
    .reply
    {
      a:visited 
      {
        color:#00E;
        text-decoration:none;
      }
    }
  }
}